name = "snappoints-landing"
compatibility_date = "2026-02-18"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[assets]
directory = "./dist"
not_found_handling = "single-page-application"

[env.preview]
name = "snappoints-landing-preview"

[env.production]
name = "snappoints-landing"

[[routes]]
pattern = "snappoints.helix-code-labs.com"
custom_domain = true
